.report {
    width: 50vw;
    height: 90vh;
    /* background-color: lightpink; */
    color: rgb(59, 59, 59);
}
.search {
    width: inherit;
    height: 12vh;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.search i {
    color: rgb(165, 165, 165);
    font-size: 2.8vmin;
    filter: drop-shadow(1px 1px 1px rgb(207, 207, 207));
}
.search input {
    width: 32vw;
    height: 6vh;
    margin: 0 2vmin;
    padding-left: 2vmin;
    border: .5px solid rgb(227, 227, 227);
    border-radius: .3vmin;
    box-shadow: 0px 5px 8px rgb(207, 207, 207);
    font-family: montserrat;
    outline: none;
}
.search input:focus {
    background-color: rgb(240, 245, 249);
}
.search button {
    padding: 1vmin 1.5vmin;
    background-color: rgb(177, 225, 255);
    border: none;
    border-radius: .3vmin;
    box-shadow: 0px 3px 5px rgb(207, 207, 207);
    font-family: montserrat;
}

.box {
    width: inherit;
    height: 78vh;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statics{
    width: 15vw;
    height: 78vh;
}
.box .data {
    width: 15vw;
    height: 15vh;
    /* background-color: rgb(126, 180, 126); */
    background-color: #7db4b2;
    text-align: center;
    margin-top: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.236) 0px 15px 20px -5px, rgba(0, 0, 0, 0.345) 0px 10px 10px -5px;
}
.box h2{
    color: rgb(47, 47, 47);
}
h3{
    line-height: 2vmax;
    color:#ffffffd6;
}